---
import MainLayout from "@layouts/MainLayout.astro";
import Section from "@components/Section.astro";
import Anchor from "@components/Anchor.astro";

const title = "Vitrine";
---

<MainLayout title={title}>
  <Section title={title}>
    <p class="pb-3">
      Cette page met en avant certains de mes projets professionnels préférés.
      Les liens pointent vers des pages en Anglais.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Comptes Clients de Shopify (2020-Présent)
    </h3>
    <p>
      J'ai contribué à de nombreux aspects de la plateforme des comptes clients
      chez Shopify, trop nombreux pour tous les énumérer. Cependant, ce dont je
      suis le plus fier comprend :
      <ul class="list-disc pl-10 text-left">
        <li>
          Ma contribution à une{" "}
          <Anchor
            href="https://shopify.dev/docs/api/customer-account-ui-extensions/unstable/components"
          >
            bibliothèque de composants
          </Anchor>{" "}
           permettant aux développeurs tiers de créer des extensions pour
          Checkout et les Comptes Clients ;
        </li>
        <li>
          Mon rôle de champion de l'accessibilité web en résolvant des problèmes
          liés aux normes WCAG, en formant mes collègues aux meilleures
          pratiques en matière d'accessibilité et, quand les testeurs d'un audit
          ADA ont exprimé une grande satisfaction face aux améliorations
          apportées ;
        </li>
        <li>
          Voir mon projet sur le branding de la page de connexion mis en avant
          dans{" "}
          <Anchor
            href="https://www.shopify.com/ca/editions/winter2025#branded-login-pages"
          >
            Shopify Editions
          </Anchor>{" "}
           et partagé par des partenaires sur{" "}
          <Anchor href="https://x.com/pmillegan/status/1848775306536235477">
            X
          </Anchor>{" "}
           ainsi que{" "}
          <Anchor
            href="https://www.linkedin.com/posts/talktohenryj_early-today-i-saw-nick-lenko-from-the-customer-activity-7254965834882682882-R53C?utm_source=share&utm_medium=member_desktop"
          >
            LinkedIn
          </Anchor>.
        </li>
      </ul>
    </p>

    <h3 class="py-4 font-mono text-xl">Ubisoft Club (2017-2019)</h3>
    <p class="pb-3">
      J'ai fait partie d'une équipe chargée de réécrire une SPA vieille de cinq
      ans utilisée par les jeux Ubisoft sur PlayStation 4 et Xbox One.
      L'objectif était de migrer vers des technos modernes (React, Storybook,
      tests automatiques, intégration continue) pour une meilleure expérience de
      développement tout en améliorant les performances de l'application. Le
      projet a été un succès, le temps de chargement est passé de 5,4 secondes à
      2,2 secondes. Nous l'avons ensuite porté sur la Nintendo Switch. J'ai
      écrit un article plus détaillé à ce sujet que vous pouvez <Anchor
        href="https://dev.to/sylvhama/multi-directional-navigation-31k2"
      >
        consulter ici
      </Anchor>. Vous pouvez aussi visionner le résultat final sur cette <Anchor
        href="https://youtu.be/1s712yQ3NY0?t=34"
      >
        vidéo
      </Anchor>
       enregistrée par un joueur.
    </p>

    <h3 class="py-4 font-mono text-xl">Carte interactive d'hôpital (2016)</h3>
    <p class="pb-3">
      J'ai développé une carte interactive via PixiJs et tween.js pour un
      hôpital. La carte était représentée via une tilemap, imaginez une matrice
      2D où chaque case peut représenter un mur, un sol praticable, etc. Il y
      avait un éditeur pour concevoir votre carte en dessinant chaque tuile ou
      en plaçant des sprites spéciaux. J'ai utilisé un algorithme de recherche
      de chemin pour dessiner le chemin le plus court entre deux tuiles. Le
      résultats est visionnable en
      <Anchor href="https://www.youtube.com/watch?v=fL5GDCH7VpM">
        vidéo ici
      </Anchor>.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Enregistrement d'invités hors ligne (2014)
    </h3>
    <p>
      Nous avions un client en Corée du Sud qui organisait des événements de
      réseautage. Nous avons d'abord développé un quiz en ligne qui comportait
      de nouvelles questions à chaque événement. Les gagnants recevaient des
      prix tels qu'une bouteille gratuite.<br /> Notre client imprimait
      également une immense feuille de calcul pour vérifier si chaque invité
      était correctement enregistré. Il voulait une application plus élégante
      qui fonctionnerait même dans des endroits totalement déconnectés
      d'Internet. À l'époque, le concept de <Anchor
        href="https://github.com/sylvhama/pwa-links"
      >
        Progressive Web App
      </Anchor> et de service worker n'existait pas encore. Mais j'ai quand même
      réussi à développer une application web hors ligne via l'API d'appCache.
      Voici <Anchor
        href="https://sylvhama.notion.site/sylvhama/My-Portfolio-5e616652b45249b0ae69dda6b23d73e3?p=a3affc20c05847e4b99f007f4bce51df&pm=c"
      >
        quelques photos
      </Anchor> prises lors de l'un des événements.
    </p>
  </Section>
</MainLayout>
