---
import MainLayout from "@layouts/MainLayout.astro";
import Section from "@components/Section.astro";

const title = "Vitrine";
---

<MainLayout title={title}>
  <Section title={title}>
    <p class="pb-3">
      Cette page met en avant certains de mes projets professionnels préférés.
      Les liens pointent vers des pages en Anglais.
    </p>

    <h3 class="py-4 font-mono text-xl">Ubisoft Club (2017-2019)</h3>
    <p class="pb-3">
      J'ai fait partie d'une équipe chargée de réécrire une SPA vieille de cinq
      ans utilisée par les jeux Ubisoft sur PlayStation 4 et Xbox One.
      L'objectif était de migrer vers des technos modernes (React, Storybook,
      tests automatiques, intégration continue) pour une meilleure expérience de
      développement tout en améliorant les performances de l'application. Le
      projet fût un succès, le temps de chargement etait passé de 5,4 secondes à
      2,2 secondes. Nous l'avons même porté sur Nintendo Switch par la suite.
      J'ai écrit un article plus détaillé à ce sujet que vous pouvez <a
        class="text-purple underline hover:text-pink focus:text-pink dark:text-blue dark:hover:text-pink dark:focus:text-pink"
        href="https://dev.to/sylvhama/multi-directional-navigation-31k2"
        >consulter ici</a
      >. Voici aussi une <a
        class="text-purple underline hover:text-pink focus:text-pink dark:text-blue dark:hover:text-pink dark:focus:text-pink"
        href="https://youtu.be/1s712yQ3NY0?t=34">vidéo</a
      >
       enregistrée par un joueur montrant le résultat final.
    </p>

    <h3 class="py-4 font-mono text-xl">Carte interactive d'hôpital (2016)</h3>
    <p class="pb-3">
      J'ai développé une carte interactive via PixiJs et tween.js pour un
      hôpital. La carte était représentée via une tilemap, imaginez une matrice
      2D où chaque case peut être un mur, un sol praticable, etc. Il y avait un
      éditeur pour concevoir votre carte en dessinant chaque tuile ou en plaçant
      des sprites spéciaux. J'ai utilisé un algorithme de recherche de chemin
      pour dessiner le chemin le plus court entre deux tuiles. Voici une <a
        class="text-purple underline hover:text-pink focus:text-pink dark:text-blue dark:hover:text-pink dark:focus:text-pink"
        href="https://www.youtube.com/watch?v=fL5GDCH7VpM">vidéo</a
      > montrant le résultat.
    </p>

    <h3 class="py-4 font-mono text-xl">
      Enregistrement d'invités hors ligne (2014)
    </h3>
    <p>
      Nous avions un client en Corée du Sud qui organisait des événements de
      réseautage. Nous avons d'abord développé un quiz en ligne qui comportait
      de nouvelles questions à chaque événement. Les gagnants recevaient des
      prix tels qu'une bouteille gratuite.<br /> Notre client imprimait
      également une immense feuille de calcul pour vérifier si chaque invité
      était correctement enregistré. Il voulait une application plus élégante
      qui fonctionnerait même dans des endroits totalement déconnectés
      d'Internet. À l'époque, le concept de <a
        class="text-purple underline hover:text-pink focus:text-pink dark:text-blue dark:hover:text-pink dark:focus:text-pink"
        href="https://github.com/sylvhama/pwa-links">Provessive Web App</a
      > et de service worker n'existait pas encore. Mais j'ai quand même réussi
      à développer une application web hors ligne via l'API d'appCache. Voici <a
        class="text-purple underline hover:text-pink focus:text-pink dark:text-blue dark:hover:text-pink dark:focus:text-pink"
        href="https://sylvhama.notion.site/sylvhama/My-Portfolio-5e616652b45249b0ae69dda6b23d73e3?p=a3affc20c05847e4b99f007f4bce51df&pm=c"
        >quelques photos</a
      > prises lors d'un des événements.
    </p>
  </Section>
</MainLayout>
