---
import ToggleTheme from "./ToggleTheme.astro";
---

<aside
  aria-label="Changer de mode ou de langue"
  class="absolute right-4 top-4 flex items-center gap-4"
>
  <a
    class="font-mono text-sm text-purple hover:text-pink hover:underline focus:text-pink dark:text-blue dark:hover:text-pink dark:focus:text-pink"
    href="https://shamann.dev"
  >
    English
  </a>
  <ToggleTheme />
</aside>
