<footer class="pb-8">
  <nav aria-label="Liens externes en anglais">
    <ul>
      <li>
        Consultez mon CV complet sur
        <a
          class="text-purple hover:text-pink hover:underline dark:text-blue dark:hover:text-pink"
          href="https://www.linkedin.com/in/sylvainhamann">LinkedIn</a
        >.
      </li>
      <li>
        Téléchargez mon CV au format PDF sur
        <a
          class="text-purple hover:text-pink hover:underline dark:text-blue dark:hover:text-pink"
          href="https://docs.google.com/document/d/1VybgVJOKbZOqbQwRfGkYp--9yP-xXfMF5TA7s8M250I/edit?usp=sharing"
        >
          Google Drive</a
        >.
      </li>
      <li>
        Parcourez mon portfolio sur
        <a
          class="text-purple hover:text-pink hover:underline dark:text-blue dark:hover:text-pink"
          href="https://sylvhama.notion.site/sylvhama/My-Portfolio-5e616652b45249b0ae69dda6b23d73e3"
        >
          Notion</a
        >.
      </li>
      <li>
        Découvrez mes projets persos sur
        <a
          class="text-purple hover:text-pink hover:underline dark:text-blue dark:hover:text-pink"
          href="https://github.com/sylvhama">GitHub</a
        >.
      </li>
    </ul>
    <p><small>Les liens ci-dessus sont tous en Anglais.</small></p>
  </nav>
</footer>
