---
import Anchor from "./Anchor.astro";
---

<footer class="pb-8">
  <nav aria-label="Liens externes en anglais">
    <ul>
      <li>
        Consultez mon CV complet sur
        <Anchor href="https://www.linkedin.com/in/sylvainhamann">
          LinkedIn
        </Anchor>.
      </li>
      <li>
        Téléchargez mon CV au format PDF sur
        <Anchor
          href="https://docs.google.com/document/d/1VybgVJOKbZOqbQwRfGkYp--9yP-xXfMF5TA7s8M250I/edit?usp=sharing"
        >
          Google Drive
        </Anchor>.
      </li>
      <li>
        Parcourez mon portfolio sur
        <Anchor
          href="https://sylvhama.notion.site/sylvhama/My-Portfolio-5e616652b45249b0ae69dda6b23d73e3"
        >
          Notion
        </Anchor>.
      </li>
      <li>
        Découvrez mes projets persos sur
        <Anchor href="https://github.com/sylvhama">GitHub</Anchor>.
      </li>
    </ul>
    <p><small>Les liens ci-dessus sont tous en Anglais.</small></p>
  </nav>
</footer>
