---
const pages = [
  { title: "À propos", url: "/" },
  { title: "Parcours", url: "/parcours" },
  { title: "Vitrine", url: "/vitrine" },
  { title: "Articles & Présentations", url: "/articles-presentations" },
];

function trimLastSlash(value: string) {
  if (value.endsWith("/") && value.length > 1) {
    return value.slice(0, -1);
  } else {
    return value;
  }
}
---

<script>
  /**
   * This script allows to see the CSS transitions on each page change.
   * Transitions should not appear on very first website load.
   */

  const subsequentNav = sessionStorage.getItem("subsequentNav");
  sessionStorage.setItem("subsequentNav", "true");

  const currentNavLink = document.querySelector(
    'nav[aria-label="Navigation principale"] a[aria-current="page"]',
  );

  if (currentNavLink) {
    const classesToHidePseudoElements = [
      "before:opacity-0",
      "before:scale-x-0",
      "after:opacity-0",
      "after:scale-x-0",
    ];

    const removeClasses = () =>
      currentNavLink.classList.remove(...classesToHidePseudoElements);

    currentNavLink.classList.add("text-purple", "dark:text-blue");
    currentNavLink.classList.remove("hover:text-pink", "focus:text-pink");
    subsequentNav
      ? window.addEventListener("load", removeClasses)
      : removeClasses();
  }
</script>

<nav class="py-8 sm:py-16" aria-label="Navigation principale">
  <ul
    class="flex flex-col justify-between text-center font-mono uppercase sm:flex-row"
  >
    {
      pages.map(({ url, title }) => {
        const isCurrentPage = trimLastSlash(Astro.url.pathname) === url;
        return (
          <li class="py-4 leading-none sm:py-0">
            <a
              class="
                before:scale-x-1 before:opacity-1 
                after:scale-x-1 after:opacity-1 
                relative 
                text-lg 
                leading-none 
                before:absolute	
                before:-top-3 before:h-px 
                before:w-full before:origin-left 
                before:scale-x-0 before:bg-current 
                before:opacity-0 before:transition-opacity-transform 
                before:duration-300 after:absolute 
                after:-bottom-3 after:left-0 
                after:h-px after:w-full 
                after:origin-right after:scale-x-0 
                after:bg-current after:opacity-0 
                after:transition-opacity-transform after:duration-300
              hover:text-pink focus:text-pink
              "
              href={url}
              aria-current={isCurrentPage ? "page" : undefined}
            >
              {title}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
